<!DOCTYPE html>
<html>
  <head>
    <title>Webcounter | {{ version }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

    <script>
      function autoRefresh() {
          window.location = window.location.href;
      }
      setInterval('autoRefresh()', 2000);
    </script>
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">Webcounterrrrr</h1>
      </div>
    </header>
    <div class="container">
      {% block content %}
      {% endblock %}
      <h2>You have seen this {{ hits }} times</h2>
      <pre>running git hash: {{ version }}</pre>
    </div>
  </body>
</html>